In [41]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np

In [42]:
df_chat = pd.read_csv('/home/wilson/Downloads/group_chat_content(1).csv')

In [43]:
list(df_chat)

['group_displayname',
 'user_nickname',
 'user_info',
 'content',
 'content_type',
 'robot_id',
 'robot_displayname',
 'user_signature',
 'time',
 'region',
 'city']

In [44]:
df_chat_trim = df_chat.drop(['user_signature','time','region','city'],axis=1)

In [45]:
list(df_chat_trim)

['group_displayname',
 'user_nickname',
 'user_info',
 'content',
 'content_type',
 'robot_id',
 'robot_displayname']

In [46]:
df_chat_trim.tail()

,group_displayname,user_nickname,user_info,content,content_type,robot_id,robot_displayname
49,Wilson_ä¼˜å“å›¢è´­,anna ï½ğŸ‡¨ğŸ‡¦,"[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",@èŠâ€…ä¸å¥½æ„æ€[å®³ç¾]å’Œæœ‹å‹çº¦äº†äº‹æƒ… ä»Šå¤©åœ¨å¤–è¾¹ æ‰å›æ¥ã€‚ä½ çš„å¸½å­è®¢äº†ï¼Œåæ¥å•†å®¶æ¥é‚®ä»¶è¯´æš‚æ—¶...,Text,robot-1,çå¦®ä¹°å–
50,Wilson_æ˜é€šé©¾æ ¡,Jin,"[{""Sex"": 1, ""Uin"": 0, ""City"": ""å¤ªåŸ"", ""Alias"": ""...",2005å¹´å°¼æ¡‘Altima 2.5s +18.5ä¸‡å…¬é‡Œ æ²¡æ¯›ç—… å› å›å›½è¶…ä½ä»·å‡ºæ‰‹ï¼Œæœºä¼šéš¾...,Text,robot-1,Jenny 7@ masterqun.com
51,Wilson_æ˜é€šé©¾æ ¡,Jin,"[{""Sex"": 1, ""Uin"": 0, ""City"": ""å¤ªåŸ"", ""Alias"": ""...",1,Picture,robot-1,Jenny 7@ masterqun.com
52,Wilson_æ¸©èæ— å¿§3,Andyå¤šå€«å¤šåœ¨ç¶«æ—…éŠ905-604-8843,"[{""Sex"": 1, ""Uin"": 0, ""City"": ""Toronto"", ""Alia...",ç¥é©¬ï¼Ÿ $1å«ç¨ä¸“äº«é•¿æ±Ÿä¸‰å³¡é«˜é“å¥¢åç³»åˆ—,Sharing,robot-1,çå¦®4
53,Wilson_å°å¼å¤–å–,ä»²å¤,"[{""Sex"": 1, ""Uin"": 0, ""City"": """", ""Alias"": """",...",ç½—æ¸£å£«æ–°æ˜¥ç‰¹ä»·é«˜é€Ÿä¸Šç½‘ ç”µè§† ç”µè¯ æ™ºèƒ½æˆ¿å±‹å®‰ä¿ç›‘æ§ç³»ç»Ÿ - MyGoon,Sharing,robot-1,çå¦®å°çŒª

In [47]:
df_chat_trim['content_length'] = df_chat_trim['content'].str.len()

In [48]:
df_chat_trim.head()

,group_displayname,user_nickname,user_info,content,content_type,robot_id,robot_displayname,content_length
0,Wilson_å¤§æ•°æ®åˆ†æè¡Œä¸š,æ°¸è¿œçš„é å±±,"[{""Sex"": 1, ""Uin"": 0, ""City"": ""æˆéƒ½"", ""Alias"": ""...",å…¨ä¸–ç•Œèªæ˜äººéƒ½åœ¨ç©çš„æ¸¸æˆï¼Œå¿«æ¥è¯•è¯•ï¼,Sharing,NaN,NaN,18
1,Wilson_æˆ‘çš„æµ‹è¯•ç¾¤,è¯šå®çš„äºº,"[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",äº¤å‰å£å‘µå‘µå‘µ,Text,Jenny test,NaN,6
2,Wilson_netshaker,"Iris, NetShaker, Founder","[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",æ¬¢è¿æ–°äºº,Text,Jenny 3@ masterqun.com,NaN,4
3,Wilson_netshaker,"Iris, NetShaker, Founder","[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",æœ¬ç¾¤ç”¨æ¥åˆ†äº«å·¥ä½œ å†…éƒ¨æ¨è ç¦å¹¿å‘Š ä¸å»ºè®®åˆ·å±,Text,Jenny 3@ masterqun.com,NaN,23
4,Wilson_netshaker,æµ·ä¼¦Helen,"[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",[ç«ç‘°][ç«ç‘°]æœ‰å¥½èŒä½å¸¦è¿‡æ¥,Text,Jenny 3@ masterqun.com,NaN,16

In [49]:
# save user_info to a sinlge series
json_user = df_chat_trim['user_info']

In [51]:
# count total messages of all time
df_group_acti = df_chat_trim['group_displayname'].value_counts()
df_group_acti = df_group_acti.to_frame()
df_group_acti.head()

Wilson_netshaker    13
Wilson_æˆ‘çš„æµ‹è¯•ç¾¤         9
Wilson_æ˜é€šé©¾æ ¡          9
Wilson_æ¸©èæ— å¿§2         7
April19_approved     4
Name: group_displayname, dtype: int64

In [55]:
# count total text messages
df_group_text = df_chat_trim[df_chat_trim['content_type']=='Text']
df_group_text_acti = df_group_text['group_displayname'].value_counts()
df_group_text_acti = df_group_text_acti.to_frame()
df_group_text_acti.head()

                  group_displayname
Wilson_netshaker                 11
Wilson_æ˜é€šé©¾æ ¡                       7
Wilson_æˆ‘çš„æµ‹è¯•ç¾¤                      6
Wilson_æ¸©èæ— å¿§2                      5
April19_approved                  3

In [56]:
# count short text messages of all groups
df_group_short_text = df_group_text[df_group_text['content_length']<=50]
df_group_short_text_acti = df_group_short_text['group_displayname'].value_counts()
df_group_short_text_acti = df_group_short_text_acti.to_frame()
df_group_short_text_acti.head()

                  group_displayname
Wilson_netshaker                  9
Wilson_æˆ‘çš„æµ‹è¯•ç¾¤                      6
Wilson_æ˜é€šé©¾æ ¡                       6
Wilson_æ¸©èæ— å¿§2                      4
April19_approved                  3

In [13]:
group_activity = df['group_id'].value_counts()

In [14]:
# group messages totally counts 
group_activity

Wilson_æ¸©èæ— å¿§4         32
Wilson_Wordpress     30
Wilson_é²œä¼˜            26
April19_approved     14
Wilson_å‰§æœ¬ä¹‹å®¶          12
Wilson_lunchbreak    11
Wilson_æ¸©èæ— å¿§1         11
Wilson_auto          11
Wilson_æˆ¿ä¸œç½‘            9
Wilson_æ¸©èæ— å¿§2          8
Wilson_æˆ‘çš„æµ‹è¯•ç¾¤          6
wilson_ç§»æ°‘è®²åº§           6
Wilson_ä¼˜å“å›¢è´­           6
Wilson_netshaker      6
Wilson_å¥³ä¸–ç•Œ            5
Wilson_æ˜é€šé©¾æ ¡           5
Wilson_æ¸©èCSSA         4
Wilson_æ¸©èç§Ÿè½¦äºŒæ‰‹è´§        4
Wilson_å® ç‰©å‘¨è¾¹           4
Wilson_æ—…æ¸¸ä¿¡æ¯åˆ†äº«         3
Wilson_javascript     3
Wilson_ç™¾äº‹é€šæ±‚èŒ          3
                      3
Wilson_evertop        2
Wilson_å–œè¾£å›¢è´­           1
Wilson_ç§»æ°‘è®²åº§           1
Wilson_å¤šä¼¦å¤šæ‹›è˜          1
Name: group_id, dtype: int64

In [22]:
# the total amount of groups
print(len(group_activity))

27

In [15]:
group_UN_activity = df['user_nickname'].value_counts()

In [16]:
# all members' messages totally counts 
group_UN_activity.head(10)

ç¾¤ä¸»ï¼šLinda?XYFitness    13
Deer                   8
å“†å•¦Aç™½?                  7
Jim                    7
Ray                    7
å¼€å¼€çŸ¥é“?å‰§æœ¬æ€               6
Melinda                5
Leo?                   5
åŠå¼¦é£ç­                   4
anna ï½??               4
Name: user_nickname, dtype: int64

In [17]:
df_group_mem = df[['group_id','user_nickname']]
df_group_mem.head()

       group_id user_nickname
0  Wilson_æˆ‘çš„æµ‹è¯•ç¾¤  Wilson_æˆ‘çš„æµ‹è¯•ç¾¤
1   Wilson_ä¼˜å“å›¢è´­      anna ï½??
2   Wilson_ä¼˜å“å›¢è´­            æ–‡æ™¶
3  Wilson_æˆ‘çš„æµ‹è¯•ç¾¤          è¯šå®çš„äºº
4   Wilson_ä¼˜å“å›¢è´­      anna ï½??

In [18]:
df_group_mem_ = df_group_mem.groupby(["group_id","user_nickname"])

In [19]:
df_group_mem_.size()

group_id           user_nickname
                                                   2
                   Rain                            1
April19_approved   96xâ€†x                           1
                   97XX                            1
                   Aaronæ™–                          4
                   Daisy??Leelaw                   1
                   app-apr05                       2
                   app406                          2
                   sub205-ass312-dip404-apr416     1
                   sub209.ass409.dip423            2
Wilson_Wordpress   AĞ»ÑĞº.Ğ’Ğ¾Ğ½                        1
                   Every dog has its day.          2
                   Jason Li                        1
                   Leo?                            5
                   Melinda                         5
                   Ray                             7
                   wise                            2
                   æå»º achair                       3
                   æ—èˆŸ[Joe]??                       1
                   çŒ«å…ˆç”Ÿ                             3
Wilson_auto        Ann                             1
                   Jim                             7
                   S                               1
                   äº¨åˆ©yang                          2
Wilson_evertop     Evertop Startup                 2
Wilson_javascript  I'm a loser                     1
                   Jacky                           1
                   ã€Œé˜¿?æ ‹ã€å‘¨ â€å…ˆç”Ÿ                      1
Wilson_lunchbreak  Lunch Break                     3
                   Wish U Well                     2
                                                  ..
Wilson_æ¸©èæ— å¿§4       Deer                            8
                   Frankie                         3
                   Iris ?                          1
                   Leon                            1
                   Queena Wang ?                   1
                   weymi                           1
                   ä½•æ±¶æ˜Ÿ                             1
                   åŠå¼¦é£ç­                            2
                   å“†å•¦Aç™½?                           7
                   æ—ã€vå¦®                            2
                   è¶…äººæ˜¯æˆ‘å¼Ÿ                           1
                   é™ˆå¶è                             1
Wilson_æ¸©èç§Ÿè½¦äºŒæ‰‹è´§     ?ä¼˜æ ¼?                            1
                   Grace                           1
                   Yvonneå°è­@.@                     1
                   ä¸¹å°¼?                             1
Wilson_ç™¾äº‹é€šæ±‚èŒ       åŠ æ‹¿å¤§æ—…æ¸¸å…¬å¸                         1
                   é›²é£› 647-888-3181 åœ°äº§ æ¥¼èŠ± å»ºæˆ¿        2
Wilson_ç§»æ°‘è®²åº§        Canadavisa                      1
Wilson_é²œä¼˜          Bread?????                      2
                   Dannyæ†‹å¤§æ‹›                        1
                   Faye?                           1
                   Shawn Xie ?                     2
                   love                            1
                   pikaYu?                         4
                   ä¸€ä½ä¸æ„¿æ„é€éœ²å§“åçš„æåšæ¨å…ˆç”Ÿ                 1
                   å“ˆå“ˆå“ˆ                             1
                   ç¾¤ä¸»ï¼šLinda?XYFitness             13
wilson_ç§»æ°‘è®²åº§        168 CECå·¥ä½œç§»æ°‘ä¸€ç«™å¼                  4
                   Canadavisa                      2
Length: 113, dtype: int64

In [20]:
# list the amount of messages in different groups of an individual 
df_mem_group_ = df_group_mem.groupby(["user_nickname","group_id"])
df_mem_group_.size()

user_nickname             group_id
                                                2
#JS?                      Wilson_æ¸©èæ— å¿§4          3
168 CECå·¥ä½œç§»æ°‘ä¸€ç«™å¼            wilson_ç§»æ°‘è®²åº§           4
96xâ€†x                     April19_approved      1
97XX                      April19_approved      1
?ä¼˜æ ¼?                      Wilson_æ¸©èç§Ÿè½¦äºŒæ‰‹è´§        1
Aaronæ™–                    April19_approved      4
Alia Liu                  Wilson_æˆ¿ä¸œç½‘            1
Allen                     Wilson_æ¸©èæ— å¿§2          1
Angela                    Wilson_å‰§æœ¬ä¹‹å®¶           1
Ann                       Wilson_auto           1
AĞ»ÑĞº.Ğ’Ğ¾Ğ½                  Wilson_Wordpress      1
Bread?????                Wilson_é²œä¼˜             2
Canadavisa                Wilson_ç§»æ°‘è®²åº§           1
                          wilson_ç§»æ°‘è®²åº§           2
Daisy??Leelaw             April19_approved      1
Danny                     Wilson_æ¸©èCSSA         1
                          Wilson_æ¸©èæ— å¿§1          1
Dannyæ†‹å¤§æ‹›                  Wilson_é²œä¼˜             1
Deer                      Wilson_æ¸©èæ— å¿§4          8
Evertop Startup           Wilson_evertop        2
Every dog has its day.    Wilson_Wordpress      2
Faye?                     Wilson_é²œä¼˜             1
Fiona                     Wilson_æ¸©èæ— å¿§2          1
Frankie                   Wilson_æ¸©èCSSA         1
                          Wilson_æ¸©èæ— å¿§4          3
Grace                     Wilson_æ¸©èç§Ÿè½¦äºŒæ‰‹è´§        1
I'm a loser               Wilson_javascript     1
Iris ?                    Wilson_æ¸©èæ— å¿§1          1
                          Wilson_æ¸©èæ— å¿§4          1
                                               ..
åŠå¼¦é£ç­                      Wilson_æ¸©èæ— å¿§4          2
åªåƒç³–ä¸åƒè‹¦??                  Wilson_æ¸©èæ— å¿§1          1
å‘¨æ•™ç»ƒ                       Wilson_æ˜é€šé©¾æ ¡           1
å“†å•¦Aç™½?                     Wilson_æ¸©èæ— å¿§4          7
å“ˆå“ˆå“ˆ                       Wilson_é²œä¼˜             1
å·«æ•™ç»ƒ                       Wilson_æ˜é€šé©¾æ ¡           1
å¼€å¼€çŸ¥é“?å‰§æœ¬æ€                  Wilson_å‰§æœ¬ä¹‹å®¶           6
å¼ ä¹‹é¢–Elaine                 Wilson_lunchbreak     1
æ–‡å„¿                        Wilson_å¥³ä¸–ç•Œ            1
æ–‡æ™¶                        Wilson_ä¼˜å“å›¢è´­           1
æ— è¯­                        Wilson_æ¸©èæ— å¿§1          2
æå»º achair                 Wilson_Wordpress      3
æ‘é•¿                        Wilson_æˆ¿ä¸œç½‘            1
æœå„¿                        Wilson_æ¸©èæ— å¿§1          1
                          Wilson_æ¸©èæ— å¿§2          1
æ—ã€vå¦®                      Wilson_æ¸©èæ— å¿§4          2
æ—èˆŸ[Joe]??                 Wilson_Wordpress      1
æ´‹æ´‹                        Wilson_æ¸©èæ— å¿§2          1
çŒ«å…ˆç”Ÿ                       Wilson_Wordpress      3
ç”³æ—¶ä¹‰                       Wilson_å¤šä¼¦å¤šæ‹›è˜          1
ç¥æ˜¥å…‰                       Wilson_ä¼˜å“å›¢è´­           1
ç»™çš„å¤šï¼ˆPlayhard ï¼‰            Wilson_æ¸©èæ— å¿§2          2
ç¾¤ä¸»ï¼šLinda?XYFitness        Wilson_é²œä¼˜            13
è¯šå®çš„äºº                      Wilson_æˆ‘çš„æµ‹è¯•ç¾¤          2
è¶…äººæ˜¯æˆ‘å¼Ÿ                     Wilson_æ¸©èæ— å¿§4          1
é‡‘æ³°å°å¯¼æ¸¸                     Wilson_æ—…æ¸¸ä¿¡æ¯åˆ†äº«         3
é“æ•–                        Wilson_lunchbreak     2
é™ˆå¶è                       Wilson_æ¸©èæ— å¿§4          1
é›²é£› 647-888-3181 åœ°äº§ æ¥¼èŠ± å»ºæˆ¿  Wilson_ç™¾äº‹é€šæ±‚èŒ          2
éŸ©é›¨                        Wilson_å‰§æœ¬ä¹‹å®¶           1
Length: 113, dtype: int64

In [30]:
df_group = df.groupby(["user_nickname","content","group_id","content_type"])

In [32]:
df_group = df_group.size()

In [35]:
df_group = df_group.to_frame()

In [38]:
df_group.head(10)

                                                                                                 0
user_nickname  content                                            group_id         content_type
               çœŸçš„å—                                                                 Text          1
               è¯•ä¸€ä¸‹                                                                 Text          1
#JS?           @å“†å•¦Aç™½?â€…æˆ‘è¦å»mallå•Šï¼Œåˆšåˆšæ‰¾åˆ°                               Wilson_æ¸©èæ— å¿§4     Text          1
               æ‰¾åˆ°äº†è°¢è°¢                                              Wilson_æ¸©èæ— å¿§4     Text          1
               æ±‚ç°åœ¨Masseyé™„è¿‘çš„carpool[å˜¿å“ˆ]                            Wilson_æ¸©èæ— å¿§4     Text          1
168 CECå·¥ä½œç§»æ°‘ä¸€ç«™å¼ [æµæ±—]                                               wilson_ç§»æ°‘è®²åº§      Text          1
               http://www.168888.ca/index.php/2016-06-15-16-26... wilson_ç§»æ°‘è®²åº§      Text          1
               æƒ³æ‰¾OABç±»å·¥ä½œçœ‹è¿™é‡Œï¼CEC å·¥ä½œç­‰ä½ ç”³è¯·ï¼                            wilson_ç§»æ°‘è®²åº§      Sharing       1
               æœ€æ–°å·¥ä½œ                                               wilson_ç§»æ°‘è®²åº§      Text          1
96xâ€†x          è¯·é—®ä¸€ä¸‹æåä¿¡æ˜¯å¿…é¡»æœ¬äººäº²è‡ªå–ä¹ˆï¼Ÿå¯ä»¥è®©åŒä½å€çš„äººé‚£ä¸ªæˆ‘çš„é©¾ç…§å»å–ä¹ˆï¼Ÿ                April19_approved Text          1