In [2]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np

In [6]:
df_chat = pd.read_csv('C:/Users/wilson/Downloads/textmining-master/textmining-master/group_chat_content(2).csv')

In [7]:
list(df_chat)

['group_displayname',
 'user_nickname',
 'user_info',
 'content',
 'content_type',
 'robot_id',
 'robot_displayname',
 'user_signature',
 'time',
 'region',
 'city']

In [8]:
df_chat_trim = df_chat.drop(['user_signature','region','city'],axis=1)

In [9]:
list(df_chat_trim)

['group_displayname',
 'user_nickname',
 'user_info',
 'content',
 'content_type',
 'robot_id',
 'robot_displayname',
 'time']

In [10]:
df_chat_trim.tail()

,group_displayname,user_nickname,user_info,content,content_type,robot_id,robot_displayname,time
66,Wilson_æˆ¿ä¸œç½‘,Wilson,"[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",1,Note,robot-1,çå¦®å§,1524604774
67,Wilson_æˆ¿ä¸œç½‘,Elanieï¼ˆYingchun),"[{""Sex"": 0, ""Uin"": 0, ""City"": """", ""Alias"": """",...",Hi,Text,robot-1,çå¦®å§,1524604825
68,NaN,åŠ æ‹¿å¤§æ¢äº²çˆ¶æ¯ä¿±ä¹éƒ¨(2å·),"[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",ã€ç²¾é€‰è®²åº§ã€‘æ‰‹æŠŠæ‰‹æ•™æ‚¨æ—…æ¸¸ç­¾è½¬å­¦ç­¾åŠç†ç§»æ°‘ï¼Œäº«ç”¨æ›´å¤šç¦åˆ©ï¼,Sharing,robot-1,Jenny 12@ masterqun.com,1524606335
69,NaN,åŠ æ‹¿å¤§æ¢äº²çˆ¶æ¯ä¿±ä¹éƒ¨(2å·),"[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",å…¶å®æ‚¨è¿˜å¯ä»¥äº«ç”¨æ›´å¤šç¦åˆ©ï¼,Text,robot-1,Jenny 12@ masterqun.com,1524606339
70,Wilson_æ¸©èäº’åŠ©,å‘¨æœ«æ¸©èå¤šä¼¦å¤šå¾€è¿”,"[{""Sex"": 1, ""Uin"": 0, ""City"": ""Toronto"", ""Alia...",æä¾›å¡æ™®ã€‚ ...,Text,robot-1,çå¦®å°ç‰›,1524606515

In [11]:
df_chat_trim['content_length'] = df_chat_trim['content'].str.len()

In [12]:
df_chat_trim.head()

,group_displayname,user_nickname,user_info,content,content_type,robot_id,robot_displayname,time,content_length
0,Wilson_å¤§æ•°æ®åˆ†æè¡Œä¸š,æ°¸è¿œçš„é å±±,"[{""Sex"": 1, ""Uin"": 0, ""City"": ""æˆéƒ½"", ""Alias"": ""...",å…¨ä¸–ç•Œèªæ˜äººéƒ½åœ¨ç©çš„æ¸¸æˆï¼Œå¿«æ¥è¯•è¯•ï¼,Sharing,NaN,NaN,1524589868,18
1,Wilson_æˆ‘çš„æµ‹è¯•ç¾¤,è¯šå®çš„äºº,"[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",äº¤å‰å£å‘µå‘µå‘µ,Text,Jenny test,NaN,1524595173,6
2,Wilson_netshaker,"Iris, NetShaker, Founder","[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",æ¬¢è¿æ–°äºº,Text,Jenny 3@ masterqun.com,NaN,1524595947,4
3,Wilson_netshaker,"Iris, NetShaker, Founder","[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",æœ¬ç¾¤ç”¨æ¥åˆ†äº«å·¥ä½œ å†…éƒ¨æ¨è ç¦å¹¿å‘Š ä¸å»ºè®®åˆ·å±,Text,Jenny 3@ masterqun.com,NaN,1524595983,23
4,Wilson_netshaker,æµ·ä¼¦Helen,"[{""Sex"": 2, ""Uin"": 0, ""City"": """", ""Alias"": """",...",[ç«ç‘°][ç«ç‘°]æœ‰å¥½èŒä½å¸¦è¿‡æ¥,Text,Jenny 3@ masterqun.com,NaN,1524595990,16

In [13]:
# save user_info to a sinlge series
json_user = df_chat_trim['user_info']

In [14]:
# count total messages of all time for one group
df_group_acti = df_chat_trim['group_displayname'].value_counts()
df_group_acti = df_group_acti.to_frame()
df_group_acti.head()

                  group_displayname
Wilson_netshaker                 13
Wilson_æˆ‘çš„æµ‹è¯•ç¾¤                      9
Wilson_æ˜é€šé©¾æ ¡                       9
Wilson_æˆ¿ä¸œç½‘                        9
Wilson_æ¸©èæ— å¿§2                      7

In [15]:
# count total text messages
df_group_text = df_chat_trim[df_chat_trim['content_type']=='Text']
df_group_text_acti = df_group_text['group_displayname'].value_counts()
df_group_text_acti = df_group_text_acti.to_frame()
df_group_text_acti.head()

                  group_displayname
Wilson_netshaker                 11
Wilson_æ˜é€šé©¾æ ¡                       7
Wilson_æˆ‘çš„æµ‹è¯•ç¾¤                      6
Wilson_æ¸©èæ— å¿§2                      5
Wilson_æˆ¿ä¸œç½‘                        5

In [16]:
# count short text messages of all groups
df_group_short_text = df_group_text[df_group_text['content_length']<=50]
df_group_short_text_acti = df_group_short_text['group_displayname'].value_counts()
df_group_short_text_acti = df_group_short_text_acti.to_frame()
df_group_short_text_acti.head()

                  group_displayname
Wilson_netshaker                  9
Wilson_æˆ‘çš„æµ‹è¯•ç¾¤                      6
Wilson_æ˜é€šé©¾æ ¡                       6
Wilson_æˆ¿ä¸œç½‘                        5
Wilson_æ¸©èæ— å¿§2                      4

In [17]:
# count total messages of an individual
df_individual_acti = df_chat_trim['user_nickname'].value_counts()
df_individual_acti = df_individual_acti.to_frame()
df_individual_acti.head()

                                 user_nickname
è¯šå®çš„äºº                                         9
Iris, NetShaker, Founder                     7
æµ·ä¼¦Helen                                      5
sub0206-ass0409-dip0413-app0420              4
æˆ¿ä¸œç½‘ä¿¡æ¯                                        3

In [18]:
# count text messages of an individual
df_individual_text = df_chat_trim[df_chat_trim['content_type']=='Text']
df_individual_text_acti = df_individual_text['user_nickname'].value_counts()
df_individual_text_acti = df_individual_text_acti.to_frame()
df_individual_text_acti.head()

                                 user_nickname
è¯šå®çš„äºº                                         6
Iris, NetShaker, Founder                     6
æµ·ä¼¦Helen                                      4
sub0206-ass0409-dip0413-app0420              3
å·«æ•™ç»ƒ                                          3

In [20]:
# count short text messages of an individual
df_individual_short_text = df_individual_text[df_individual_text['content_length']<=50]
df_individual_short_text_acti = df_individual_short_text['user_nickname'].value_counts()
df_individual_short_text_acti = df_individual_short_text_acti.to_frame()
df_individual_short_text_acti.head()

                                 user_nickname
è¯šå®çš„äºº                                         6
Iris, NetShaker, Founder                     5
æµ·ä¼¦Helen                                      3
sub0206-ass0409-dip0413-app0420              3
å·«æ•™ç»ƒ                                          3

In [29]:
df_user_with_group = df_chat.loc[:,['group_displayname','user_nickname']]

In [43]:
# df_user_in_group.head()
df_user_in_group = df_user_with_group.groupby(['user_nickname','group_displayname'])

In [44]:
df_user_in_group = df_user_in_group.size()
df_user_in_group = df_user_in_group.to_frame()

In [47]:
df_user_in_group

                                                   0
user_nickname                   group_displayname
Allen                           Wilson_æ¸©èäº’åŠ©        1
Andyå¤šå€«å¤šåœ¨ç¶«æ—…éŠ905-604-8843         Wilson_æ¸©èæ— å¿§3       1
Cynthia                         Wilson_æ¸©èæ— å¿§4       1
Downey                          Wilson_æ¸©èæ— å¿§4       1
Elanieï¼ˆYingchun)                Wilson_æˆ¿ä¸œç½‘         1
Iris, NetShaker, Founder        Wilson_netshaker   7
JamesPengâ€°â­•                     Wilson_netshaker   1
Jim                             Wilson_auto        1
Jin                             Wilson_æ˜é€šé©¾æ ¡        2
Lily-æ—…æ¸¸è¾¾äºº                       Wilson_ç™¾äº‹é€šæ±‚èŒ       1
Ngk Studio                      Wilson_æ¸©èæ— å¿§2       1
                                Wilson_æ¸©èæ— å¿§3       1
SEAN WANG                       Wilson_æˆ¿ä¸œç½‘         1
Terryå¼ åŠå›¢é˜Ÿ-æ¸©èåœ°äº§å›½ç²¤è¯­æœåŠ¡             Wilson_æ¸©èæ— å¿§2       2
Wilson                          Wilson_æˆ¿ä¸œç½‘         1
X.        ğŸ‹                     Wilson_æ¸©èæ— å¿§2       1
YiF                             Wilson_æ¸©èæ— å¿§4       1
anna ï½ğŸ‡¨ğŸ‡¦                        Wilson_ä¼˜å“å›¢è´­        3
jliu                            Wilson_æˆ¿ä¸œç½‘         2
sub0206-ass0409-dip0413-app0420 April19_approved   4
ä»²å¤                              Wilson_å°å¼å¤–å–        1
å‘¨æ•™ç»ƒ                             Wilson_æ˜é€šé©¾æ ¡        2
å‘¨æœ«æ¸©èå¤šä¼¦å¤šå¾€è¿”                       Wilson_æ¸©èäº’åŠ©        1
åœ¨å˜èƒ–                             Wilson_æ¸©èç§Ÿè½¦äºŒæ‰‹è´§     1
å¡¬                               Wilson_æ˜é€šé©¾æ ¡        1
å°å®‰å­.                            Wilson_æ˜é€šé©¾æ ¡        1
å·«æ•™ç»ƒ                             Wilson_æ˜é€šé©¾æ ¡        3
æˆ¿ä¸œç½‘ä¿¡æ¯                           Wilson_æˆ¿ä¸œç½‘         3
æ¯å‘¨å¾€è¿” 416-357-6965               Wilson_æ¸©èæ— å¿§2       1
æ°¸è¿œçš„é å±±                           Wilson_å¤§æ•°æ®åˆ†æè¡Œä¸š     1
æµ·ä¼¦Helen                         Wilson_netshaker   5
çˆ»                               Wilson_auto        1
è¯šå®çš„äºº                            Wilson_æˆ‘çš„æµ‹è¯•ç¾¤       9
éŠ˜éŠ˜                              Wilson_æ¸©èæ— å¿§2       1
é™æ°´æµæ·±                            Wilson_æ¸©èæ— å¿§2       1
é™é™åº·                             Wilson_æˆ¿ä¸œç½‘         1
ğŸ„Teemoæœ‰æ¯’ğŸ„                       Wilson_auto        1
ğŸ ê¯­ G ê¯­ A ê¯­ G ê¯­ C ê¯­ ğŸ’¨           Wilson_auto        1